<!DOCTYPE html>
<html ng-app="clientsApp">
<head>
    <meta charset="utf-8">
    <title>Тестовое задание</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/pattern.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        angular.module('clientsApp', []).
        controller('ClientsCtrl', ['$scope', function($scope){
           $scope.clients = [ 
                
            ];
            $scope.percentageOf = function(percentage){
                return percentage * 100 + '%';
            };
            $scope.delete = function (client){
                var index = $scope.clients.indexOf(client);
                $scope.clients.splice(index, 1);
            };
            $scope.create = function(){
                $scope.newClient.id = $scope.clients.length + 1;
                $scope.newClient.dateCreate = new Date();
                $scope.newClient.dateUpdate = null;
                $scope.clients.push($scope.newClient);
                $scope.newClient = null;
                
            };
            $scope.edit = function(client) {
                $scope.activeClient = client;
                $scope.activeClient.dateUpdate = new Date(); 
            }; 
            $scope.update = function(client) { 
                $scope.activeClient = null;
                             
            };
            

        }]);
            
    </script>
    <div class="container" ng-controller="ClientsCtrl">

        <div class="page-header">
            <h1>Clients</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Percentage</th>
                    <th>DateCreate</th>
                    <th>DateUpdate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="client in clients">
                <tr ng-if='client != activeClient'>

                    <td>
                        {{ client.id }}
                    </td>
                    <td>
                        {{ client.name }}
                    </td>
                    <td>
                        {{ client.age }}
                    </td>
                    <td>
                        {{ percentageOf(client.percentage) }}
                    </td>
                    <td>{{ client.dateCreate }}</td>
                    <td>{{ client.dateUpdate }}</td>
                    <td>
                        <button 
                        class="btn btn-primary" 
                        ng-click='edit(client)'
                        >
                            Edit
                        </button>
                        <button
                        class="btn btn-danger"
                        ng-click='delete(client)' 
                        >
                            Delete
                        </button>
                    </td>

                </tr>
                <tr ng-if='client == activeClient'>

                    <td>
                        {{ client.id }}
                    </td>
                    <td>
                        <input
                        class="form-control"
                        ng-model='client.name'
                        type='text'
                        />
                       
                    </td>
                    <td>
                        <input
                        class="form-control"
                        ng-model='client.age'
                        type='text'
                        />
                        
                    </td>
                    <td>
                        <input
                        class="form-control"
                        ng-model='client.percentage'
                        type='text'
                        />
                        
                    </td>
                    <td>{{ client.dateCreate }}</td>
                    <td>{{ client.dateUpdate }}</td>
                    <td>
                        <button 
                        class="btn btn-primary" 
                        ng-click='update(client)'
                        >
                            Update
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
        <section>
           
            <form
            name = "clientForm"
            novalidate 
            class="col-lg-4" 
            role="form"
            >
                <div class="form-group">
                    <label for = 'name'>Name:</label>
                    <input 
                    type="text" 
                    class="form-control"
                    name='name' 
                    ng-model='newClient.name'
                    required
                    />
                    <span
                    class="help-block"
                    ng-show = "clientForm.name.$error.required"
                    >
                        Name is required
                    </span>
                </div>
                <div class="form-group">
                    <label for = 'age'>Age</label>
                    <input 
                    type="number" 
                    class="form-control"
                    name='age'
                    ng-model='newClient.age'
                    required
                    max = '100'
                    min = '1'
                    />
                    <span
                    class="help-block"
                    ng-show="clientForm.age.$error.required"
                    >
                        Age is required
                    </span>
                    <span
                    class="help-block"
                    ng-show="clientForm.age.$error.max"
                    >
                        Age should be lesser than 100
                    </span>
                    <span
                    class="help-block"
                    ng-show="clientForm.age.$error.min"
                    >
                        Age should be greater than 1
                    </span>
                </div>
                <div class="form-group">
                    <label for = 'percetage'>Percentage</label>
                    <input 
                    type="number" 
                    class="form-control"
                    name='percentage ' 
                    ng-model='newClient.percentage'
                    required
                    max = '1'
                    min = '0'
                    />
                    <span
                    class="help-block"
                    ng-show="clientForm.percentage.$error.required"
                    >
                        Percentage is required
                    </span>
                    <span
                    class="help-block"
                    ng-show="clientForm.percentage.$error.max"
                    >
                        Percentage should be lesser than 1
                    </span>
                    <span
                    class="help-block"
                    ng-show="clientForm.percentage.$error.min"
                    >
                        Percentage should be greater than 0
                    </span>
                </div>
                <button 
                ng-disabled="clientForm.$invalid"
                class="btn btn-primary"
                ng-click="create()" >
                    Save
                </button>
            </form> <!-- /#post-add -->

        </section>

    </div>

</body>
</html>
